binds {
    // ================== GENERAL ==================
    Super+F                             { maximize-column; }
    Super+Shift+F                       { fullscreen-window; }
    Super+T                             { toggle-window-floating; }    
    Super+Shift+ESCAPE                  { show-hotkey-overlay; }
    Super+S                             { screenshot; }
    Super+Tab                           repeat=false { toggle-overview; }
    Super+C                             { close-window; }


    // ================== NOCTALIA ==================
    Super+Space                         hotkey-overlay-title="toggle Launcher" { spawn-sh "qs -c noctalia-shell ipc call launcher toggle"; }
    Super+O                             hotkey-overlay-title="toggle ControlCenter" { spawn-sh "qs -c noctalia-shell ipc call controlCenter toggle"; }
    Super+P                             hotkey-overlay-title="toggle Wallpaper-Menu" { spawn-sh "qs -c noctalia-shell ipc call wallpaper toggle"; }
    Super+SHIFT+P                       hotkey-overlay-title="toggle Settings" { spawn-sh "qs -c noctalia-shell ipc call settings toggle"; }
    Super+A                             hotkey-overlay-title="open AI Panel" { spawn-sh "qs -c noctalia-shell ipc call plugin:assistant-panel toggle"; } 
    Super+ESCAPE                        hotkey-overlay-title="Lock Screen" { spawn-sh "qs -c noctalia-shell ipc call lockScreen lock"; }

    XF86AudioRaiseVolume                { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "volume" "increase"; }
    XF86AudioLowerVolume                { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "volume" "decrease"; }
    XF86AudioMute                       { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "volume" "muteOutput"; }
    XF86MonBrightnessUp                 { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "brightness" "increase"; }
    XF86MonBrightnessDown               { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "brightness" "decrease"; }


    // ================== SHORTCUTS ==================
    Super+Q                             hotkey-overlay-title="Terminal: Kitty" { spawn "kitty"; }
    Super+B                             hotkey-overlay-title="Browser: Vivaldi" { spawn "vivaldi"; }
    Super+Shift+E                       hotkey-overlay-title="File Manager: Nautilus" { spawn "nautilus"; }
    Super+E                             hotkey-overlay-title="File Manager: Yazi" { spawn "kitty" "-e" "yazi"; }


    // ================== WINDOWS ==================
    Super+Left                          { focus-column-left; }
    Super+H                             { focus-column-left; }
    Super+Right                         { focus-column-right; }
    Super+L                             { focus-column-right; }

    Super+CTRL+Left                     { move-column-left; }
    Super+CTRL+H                        { move-column-left; }
    Super+CTRL+Right                    { move-column-right; }
    Super+CTRL+L                        { move-column-right; }
    Super+CTRL+UP                       { move-window-up; }
    Super+CTRL+K                        { move-window-up; }
    Super+CTRL+Down                     { move-window-down; }
    Super+CTRL+J                        { move-window-down; }


    // ================== WORKSPACES ==================
    Super+Up                            { focus-workspace-up; }
    Super+K                             { focus-workspace-up; }
    Super+Down                          { focus-workspace-down; }
    Super+J                             { focus-workspace-down; }

    Super+1                             { focus-workspace 1; }
    Super+2                             { focus-workspace 2; }
    Super+3                             { focus-workspace 3; }
    Super+4                             { focus-workspace 4; }
    Super+5                             { focus-workspace 5; }
    Super+6                             { focus-workspace 6; }
    Super+7                             { focus-workspace 7; }
    Super+8                             { focus-workspace 8; }
    Super+9                             { focus-workspace 9; }

    Super+CTRL+1                        { move-column-to-workspace 1; }
    Super+CTRL+2                        { move-column-to-workspace 2; }
    Super+CTRL+3                        { move-column-to-workspace 3; }
    Super+CTRL+4                        { move-column-to-workspace 4; }
    Super+CTRL+5                        { move-column-to-workspace 5; }
    Super+CTRL+6                        { move-column-to-workspace 6; }
    Super+CTRL+7                        { move-column-to-workspace 7; }
    Super+CTRL+8                        { move-column-to-workspace 8; }
    Super+CTRL+9                        { move-column-to-workspace 9; }
}
